APP_ENV=development
API_PORT=8080
API_ALLOWED_ORIGINS=http://localhost:3000
PYTHON_SERVICE_URL=http://localhost:8000
DATABASE_URL=postgres://memify:memify@postgres:5432/memify?sslmode=disable
NEXTAUTH_SECRET=wOFw/4rjvu8r3krZEOFB/3VcDWk5/7ewqhIrbGXXLPA=

